/*.DS_Store
/*.build
/*.swiftpm
/*Packages
/*.xcodeproj
/*.xcworkspacedata
xcuserdata/
DerivedData/
/Raindropdown.xcodeproj/project.xcworkspace/xcuserdata/jordan.xcuserdatad/UserInterfaceState.xcuserstate
